body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}
.head_nav{
    display: flex;
    justify-content: center;
    gap: 800px;
    align-items: center;
    background-color: white;
}
.head_nav img{
    width: 185px;
    height: 80px;
}
.head_nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.head_nav div img{
    width: 25px;
    height: 25px;
}
.btnt {
    padding: 10px 20px ;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0f0f0;
}
main{
    background-color: #FAFAFA;
}
.block{
    border: grey;
    margin-left: 400px;
    text-align: center;
    justify-content: center;  
    width: 650px;
    height: 780px;
    background-color: white;
    border-radius: 25px;
}
.active {
    background-color: white;
    border: 1px black;

}
.bosh{
    display: flex;
    justify-content: center;
    gap: 280px;
}
.pas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.block h1{
    color: #0E0D5D;
}
.admin{
    margin:0px 120px;
    padding:20px;
    background-color: #d5d5d5;
    border-radius: 30px;

}
/* .input-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
} */
input {
    margin:0px 120px;
    background-color: #d5d5d5;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    width: 390px;
    height: 50px;
    /* border: 1px solid #ccc; */

}
.eye-icon {
    position: absolute;
    bottom: 44px;
    cursor: pointer;
    right: 8px;
    left: 420.100px;
}
.text{
    color: grey;
}
.btn {
    background-color: rgba(255, 166, 0, 0.496);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
    background-color: orange;
}
.btn.disabled {
    background-color: #ccc; 
    color: #666;
    pointer-events: none;
    transform: none;
}
